---
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import Social from '../components/Social.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
 <div class="layout">
    <aside class="sidebar left">
      <Card title="Card Izquierda 1"> 
        <img src="/astro.svg" alt="Logo" class="logo" />
        <Social platform="github" username="crigarher" />
      </Card>
      <Card title="Card Izquierda 2">Contenido de la izquierda 2</Card>
      <Card title="Card Izquierda 3">
        
       
      </Card>
    </aside>

    <aside class="sidebar right">
      <Card title="Card Derecha 1">Contenido de la derecha 1</Card>
      <Card title="Card Derecha 2">Contenido de la derecha 2</Card>
      <Card title="Card Derecha 2">Contenido de la derecha 3</Card>
       
    </aside>
  </div>
  
  
</BaseLayout>
