---
---
<div class="nav-links">
  <a href="/"><img src="../assets/logo.svg" alt="Logo" class="logo" /></a>
  <a href="/">Home</a>
  <a href="/about">About</a>
 <!--<a href="/blog">Blog</a> --> 
</div>